
@{
    ViewBag.Title = "ViewMyBill";
    Layout = "~/Views/Shared/Header_Layout.cshtml";

    <style>

        tr td:first-child, th:first-child {
            padding-left: 30px;
        }

        table {
            border-radius: 8px;
            overflow: hidden;
        }
    </style>
}

<div class="container MyBill">
    <div class="row padding_tb">
        <div class="col-xl-12 mb-4">
            <i class='fas fa-arrow-left font_20'></i>
            <h4 class="ml-3 d-inline">My Bill</h4>
        </div>
        <div class="col-xl-12">
            <div class=" bg-white pl-4 pr-4 pt-4 border_radius_8">
                <div>
                    <h4 class="d-inline">Account Number : 2546213</h4>
                    <img src="~/Content/images/pdf.png" class="float-right" />
                </div>
                <div class="row mt-4 mb-3 invoice_h6">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <h6 class="my_bill_text">Invoice Date</h6>
                        <p class="font_18">Mar 08, 2021</p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <h6 class="my_bill_text">Invoice Date</h6>
                        <p class="font_18">Mar 08, 2021</p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <h6 class="my_bill_text">Address</h6>
                        <p class="font_18">
                            14818 Avila Bend DR Houston,
                            TX 77095-3263
                        </p>
                    </div>
                </div>
                <hr />
                <div class="table-responsive">
                    <table class="table table-borderless mybill_table">
                        <tbody>
                            <tr>
                                <td>Opening Balance</td>
                                <td class="text-right">$78.05</td>
                            </tr>
                            <tr>
                                <td>Payment Received (Feb 22, 2021)</td>
                                <td class="text-right">$-78.05</td>
                            </tr>
                            <tr>
                                <td>Balance Forward</td>
                                <td class="text-right">$0.00</td>
                            </tr>
                            <tr>
                                <td>Electricity Charges</td>
                                <td class="text-right">$121.85</td>
                            </tr>
                            <tr>
                                <td>Total Current Charges</td>
                                <td class="text-right">$121.85</td>
                            </tr>
                            <tr>
                                <td>Amount Due</td>
                                <td class="text-right">$121.85</td>
                            </tr>
                            <tr>
                                <td>5.0% Late Payment Penalty if paid after 3/24/21</td>
                                <td class="text-right">$6.09</td>
                            </tr>
                            <tr>
                                <td>Total Amount Due with late payment penalty if paid after due date</td>
                                <td class="text-right">$127.94</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="bg_success" style="border-radius: 0px 0px 8px 8px">
                <div class="row align-items-center p-3">
                    <div class="col-xl-6 col-lg-6 col-md-5">
                        <h4 class="text-white font-weight-normal">Total Due Amount</h4>
                        <p class="font_14 text-white">Due Date 04/10/2021</p>
                    </div>
                    <div class="d-flex justify-content-end align-items-center col-xl-6 col-lg-6 col-md-7">
                        <div class="text-right">
                            <h1 class="font-weight-normal text-white"><span class="font_12 text_success"><i class="fas fa-arrow-down"></i> 12% </span>$98.55</h1>
                            <p class="font_14 text-white">Autopay scheduled for 04/15/2021</p>
                        </div>
                        <button class="btn btn_primary pl-5 pr-5 ml-3" data-toggle="modal" data-target="#newmodal2">Pay Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 mt_40 mb-3">
            <h4 class="d-inline">Bill History</h4>
            <h6 class="float-right font-weight-bold text_primary">View All</h6>
        </div>
        <div class="col-xl-12">
            <div class="table-responsive">
                <table class="table table-borderless text-left bill_table">
                    <thead class="bg_primary text-white" style="border-radius: 8px 8px 0px 0px;">
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Descriptions</th>
                            <th>Status</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <tr>
                            <td>04/07/2021</td>
                            <td>$14.00</td>
                            <td>Lorem ipsum dolor set color</td>
                            <td class="text_danger font-weight-bold">Due</td>
                            <td><img src="~/Content/images/pdf.png" /></td>
                        </tr>
                        <tr>
                            <td>04/08/2021</td>
                            <td>$25.00</td>
                            <td>Lorem ipsum dolor set color</td>
                            <td class="text_success font-weight-bold">Paid</td>
                            <td><img src="~/Content/images/pdf.png" /></td>
                        </tr>
                        <tr>
                            <td>04/09/2021</td>
                            <td>$25.00</td>
                            <td>Lorem ipsum dolor set color</td>
                            <td class="text_success font-weight-bold">Paid</td>
                            <td><img src="~/Content/images/pdf.png" /></td>
                        </tr>
                        <tr>
                            <td>0410/2021</td>
                            <td>$40.00</td>
                            <td>Lorem ipsum dolor set color</td>
                            <td class="text_success font-weight-bold">Paid</td>
                            <td><img src="~/Content/images/pdf.png" /></td>
                        </tr>
                        <tr>
                            <td>04/11/2021</td>
                            <td>$53.00</td>
                            <td>Lorem ipsum dolor set color</td>
                            <td class="text_success font-weight-bold">Paid</td>
                            <td><img src="~/Content/images/pdf.png" /></td>
                        </tr>
                        <tr>
                            <td>04/12/2021</td>
                            <td>$53.00</td>
                            <td>Lorem ipsum dolor set color</td>
                            <td class="text_success font-weight-bold">Paid</td>
                            <td><img src="~/Content/images/pdf.png" /></td>
                        </tr>
                        <tr>
                            <td>04/13/2021</td>
                            <td>$45.00</td>
                            <td>Lorem ipsum dolor set color</td>
                            <td class="text_success font-weight-bold">Paid</td>
                            <td><img src="~/Content/images/pdf.png" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xl-12 mt-4 mb-3">
            <h4 class="mb-3">How to Read Your Bill</h4>
            <div class="d-flex flex-row bg-white">
                <img src="~/Content/images/MyBill_image.png" />
                <p class="font_14 text_grey p-4">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit..Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                    officia consequat duis enim velit mollit..Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                    amet sint. Velit officia consequat duis enim velit mollit..Amet minim mollit non deserunt ullamco est sit
                    aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit..Amet minim mollit non deserunt
                    ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit..
                </p>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 mt-4">
            <h4>Meter Reading</h4>
            <div class="bg-white border_radius_8 p-4" style="min-height:350px ">
                <i class="fas fa-sync float-right font_20 mb-4" style="color: #666666"></i>
                <div class="d-flex flex-column align-items-center justify-content-center" style="clear:both">
                    <img src="~/Content/images/mybill_reading.png" />
                    <div class="mt_50 d-flex flex-row">
                        <div class="meter_reading p-3 mr-2"><h2 class=" text-white">7</h2></div>
                        <div class="meter_reading p-3 mr-2"><h2 class=" text-white">5</h2></div>
                        <div class="meter_reading p-3 mr-2"><h2 class=" text-white">2</h2></div>
                        <div class="meter_reading p-3 mr-2"><h2 class=" text-white">4</h2></div>
                        <div class="meter_reading p-3 mr-2"><h2 class=" text-white">9</h2></div>
                    </div>
                    <h6 class="pt-3 text_grey">Dated: March 23, 2021</h6>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 mt-4">
            <h4>Manage Autopay</h4>
            <div class="bg-white border_radius_8 p-4" style="min-height:350px ">
                <div style="white-space:nowrap;overflow-x:scroll;">
                    <div class="p-3 d-inline-block" style="background-image: url('../Content/images/Gousian Layer_1.png');height:185px;background-repeat:no-repeat;width:343px">
                        <div class="d-flex flex-row justify-content-between align-items-center pt-1">
                            <img src="~/Content/images/Discover.png" class="d-inline" />
                            <i class="fas fa-ellipsis-v text-white"></i>
                        </div>
                        <p class="font_14 text-white mt-5">Jon Doe</p>
                        <div class="d-flex flex-row justify-content-between">
                            <p class="font_14 text-white font-weight-bold">
                                Ending in <br />
                                2563
                            </p>
                            <p class="font_14 text-white font-weight-bold text-right">
                                Valid thru <br />
                                02/2022
                            </p>
                        </div>
                    </div>
                    <div class="p-3 d-inline-block" style="background-image: url('../Content/images/Gousian Layer_1.png');height:185px;background-repeat:no-repeat;width:343px">
                        <div class="d-flex flex-row justify-content-between align-items-center pt-1">
                            <img src="~/Content/images/Discover.png" class="d-inline" />
                            <i class="fas fa-ellipsis-v text-white"></i>
                        </div>
                        <p class="font_14 text-white mt-5">Jon Doe</p>
                        <div class="d-flex flex-row justify-content-between">
                            <p class="font_14 text-white font-weight-bold">
                                Ending in <br />
                                2563
                            </p>
                            <p class="font_14 text-white font-weight-bold text-right">
                                Valid thru <br />
                                02/2022
                            </p>
                        </div>
                    </div>
                </div>
                <p class="font_14 text_grey mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididun.</p>
                <button class="btn btn_primary pl-4 pr-4    ">Un-Enroll and Stop Auto Bill Pay</button>
            </div>
        </div>

    </div>
</div>



