<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--for gexa-->
    <add key="BrandCode" value="GEXAIX" />
	  <add key="EnrollURL" value="https://newenroll.gexaenergy.com/?refid=DR1P"/>
	  <add key="MainLogo" value="Content/images/gexa-logo.png" />
	  <add key="WelcomeTitle" value="MyAccount"/>
	  <add key="Title" value="Gexa Energy"/>
	  <add key="backgroundimg" value="/Content/images/gexa-background.png"/>
	  <add key="devicesimg" value="Content/images/devices.png"/>
	  <add key="devices_1img" value="Content/images/devices_1.png"/>
	  <add key="devices_2img" value="Content/images/devices_2.png"/>
	  <add key="devices_3img" value="Content/images/devices_3.png"/>
	  <add key="devices_4img" value="Content/images/devices_4.png"/>
	  <add key="headerlogo" value="Content/images/header_logo.png"/>
    <add key="downloadLogo" value="Content/images/Gexa_icon.png"/>
	  <add key="Terms" value="https://www.gexaenergy.com/terms-of-use"/>
	  <add key="Privacy" value="https://www.gexaenergy.com/privacy-policy"/>
	  <add key="Legalnotice" value="https://www.gexaenergy.com/legal-notices-and-terms"/>
	  <add key="mobileapplabel" value="gexa mobile app"/>
    <add key="AccountPayURL" value=""/>
	  <add key="baseURL" value="https://apitest.frontierutilities.com/myaccountapi/"/>


    <!--For frontier-->
   <!--<add key="BrandCode" value="FROTX"/>
    <add key="EnrollURL" value="https://newenroll.frontierutilities.com/?refid=DR1P"/>
    <add key="MainLogo" value="Content/images/FROT-logo.png" />
    <add key="WelcomeTitle" value="MyAccount"/>
    <add key="Title" value="Frontier Utilities"/>
    <add key="backgroundimg" value="Content/images/frontier-background.png"/>
    <add key="devicesimg" value="Content/images/app screen.png"/>
    <add key="devices_1img" value="Content/images/app screen.png"/>
    <add key="devices_2img" value="Content/images/app screen.png"/>
    <add key="devices_3img" value="Content/images/app screen.png"/>
    <add key="devices_4img" value="Content/images/app screen.png"/>
    <add key="headerlogo" value="Content/images/Frontier logo.png"/>
    <add key="downloadLogo" value="Content/images/frontierDownloadLogo.png"/>
    <add key="Terms" value="https://www.frontierutilities.com/TERMS-OF-USE"/>
    <add key="Privacy" value="https://www.frontierutilities.com/PRIVACY-POLICY"/>
    <add key="mobileapplabel" value="Frontier Utilities Mobile App"/>
    <add key="AccountPayURL" value="" />
    <add key="baseURL" value="https://apitest.frontierutilities.com/myaccountapi/"/>
    <add key="PaymentUIURL" value="https://www.frontierutilities.com:8088/FrontierPaymentsDEV/Payments/"/>-->



  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
   <modules runAllManagedModulesForAllRequests="true">
     <remove name="BundleModule" />
     <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
   </modules>
</system.webServer>
</configuration>