
@{
    ViewBag.Title = "CreatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pwstrength-bootstrap/2.2.1/pwstrength-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <style>

        .img_circle {
            width: 61px;
            height: 61px;
            border-radius: 50%;
            background-color: white;
            z-index: 1;
            margin-left: -5px;
        }

        .img_circle_select {
            width: 61px;
            height: 61px;
            border-radius: 50%;
            background-color: #36A629;
            z-index: 1;
            margin-left: -5px;
        }

        .rectange {
            width: 30%;
            height: 20px;
            background-color: white;
            margin-left: -5px;
        }

        .rectange_select {
            width: 30%;
            height: 20px;
            background-color: #36A629;
            margin-left: -5px;
        }
    </style>
}

<script src="~/Scripts/Account/CreatePassword.js"></script>
<script type="text/javascript">
    var user = '@ViewData["user"].ToString()';
    var accountNo = '@ViewData["accountNo"].ToString()';
</script>

<input type="hidden" id="hnProdUrl" value='@System.Web.Configuration.WebConfigurationManager.AppSettings["AccountPayURL"]' />
<input type="hidden" id="getbrandUrl" value='@System.Web.Configuration.WebConfigurationManager.AppSettings["BrandCode"]' />

<div class="mt-5">
    <div class="row mb-5 ">
        <div class="col-xl-12 p-0">
            <div class="d-flex flex-row justify-content-between align-content-center">
                <p class="font-weight-normal font_14 mb-0 text-center">
                    Verify Account <br />
                    Number
                </p>
                <p class="font-weight-normal font_14">
                    Verify
                    ID
                </p>
                <p class="font-weight-normal font_14 mb-0">
                    Create
                    Password
                </p>
            </div>
        </div>
        <div class="col-xl-12 d-flex flex-row align-items-center mt-3">
            <div class="d-flex justify-content-center align-items-center img_circle_select">
                <img src="~/Content/images/verify_account.png" />
            </div>
            <div class="rectange_select"></div>
            <div class="d-flex justify-content-center align-items-center img_circle_select">
                <img src="~/Content/images/verify_id.png" />
            </div>
            <div class="rectange_select"></div>
            <div class="d-flex justify-content-center align-items-center img_circle">
                <img src="~/Content/images/create_password.png" />
            </div>

        </div>
    </div>

    <h5 class="text-center font-weight-bold mb-0">Create Password</h5>
    <h6 class="font-weight-normal text-center text_grey mt-3">Your new password must be unique to secure your account.</h6>
    <form class="form_style" id="createpasswordForm">

        <div class="form-group">
            <label for="pwd">Password:</label>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Your Password" id="txtPassword" maxlength="20" name="NewPassword"><i class="far fa-eye-slash newIcon" id="show_password_new" style=" position: absolute; right: 10px; z-index: 10;top:9px;"></i>

                @*<div class="input-group-append">
                    <span class="input-group-text"><i class="far fa-eye-slash newIcon" id="show_password_new"></i></span>
                </div>*@
            </div>

            <div id="strength">

                <span class="str-box box1">
                    <div></div>
                </span>
                <span class="str-box box2">
                    <div></div>
                </span>
                <span class="str-box box3">
                    <div></div>
                </span>
                <span class="str-box box4">
                    <div></div>
                </span>
                <span class="str-box box5">
                    <div></div>
                </span>
                <br />
                <span class="result">
                    Password strength indicator
                </span>

            </div>

        </div>
        <div class="form-group">
            <label for="pwd">Confirm Password:</label>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Your Password" id="txtConfirmPassword" name="ConfirmPassword"><i class="far fa-eye-slash confirmIcon" id="show_password_confirm" style=" position: absolute; right: 10px; z-index: 10;top:9px;"></i>


                @*<div class="input-group-append">
                    <span class="input-group-text"><i class="far fa-eye-slash confirmIcon" id="show_password_confirm"></i></span>
                </div>*@
            </div>
        </div>
        <span id="error" style="display :none;color:red"></span>

        <div id="app" class="mt_50">
            <p class="font_14 font-weight-bold pl-3">Password Policy</p>

            <div class="input_container">
                <ul style="list-style:none; color:black;padding:0px">
                    <li>  <img id="Length" src="~/Content/images/password_black.png" class="" /> Length must between 8 to 20 characters</li>
                    <li>  <img id="UpperCase" src="~/Content/images/password_black.png" class="" /> A combination of upper and lower case characters</li>
                    <li>  <img id="Numbers" src="~/Content/images/password_black.png" class="" /> Contains letters and numbers</li>
                    <li>  <img id="Symbols" src="~/Content/images/password_black.png" class="" />  A special character such as #,!.* $ etc.</li>



                    @*<li class="glyphicon glyphicon-xx"> <i id="Length" class="glyphicon-xx far fa-check-circle"></i> Length must between 8 to 20 characters</li>
                    <li class="glyphicon glyphicon-xx"> <i id="UpperCase" class="glyphicon-xx far fa-check-circle"></i> A combination of upper and lower case characters. </li>
                    <li class="glyphicon glyphicon-xx"><i id="Numbers" class="glyphicon-xx far fa-check-circle"></i> Contains letters and numbers</li>
                    <li class="glyphicon glyphicon-xx"><i id="Symbols" class="glyphicon-xx far fa-check-circle"></i>  A special character such as #,!.* $ etc.</li>*@

                </ul>

            </div>



        </div>


        <div class="text-center">
            <button type="button" class="btn mt_50 w-50 btn_primary_outline btnNext" id="btnNext">Continue</button>
        </div>
    </form>
    <br />
    <br />
    
    <div class="loader" id="AjaxLoader" style="display: none;">
    </div>
</div>
