@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <style>
        .form-control:focus {
            box-shadow: none !important
        }

        .w_80 {
            width: 80%
        }

        /*Radio button Custom Styles*/

        input[type='radio'] {
            -webkit-appearance: none;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            outline: none;
            box-shadow: 0 0 0 2px #00335c;
            box-sizing: border-box;
            padding: 0;
        }

            input[type='radio']:before {
                content: '';
                display: block;
                width: 70%;
                height: 70%;
                margin: 15% auto;
                border-radius: 50%;
            }

            input[type='radio']:checked:before {
                background: #00335C;
            }
    </style>
}

<script src="~/Scripts/Account/ForgotPassword.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<input type="hidden" id="hnProdUrl" value='@System.Web.Configuration.WebConfigurationManager.AppSettings["AccountPayURL"]' />
<input type="hidden" id="getbrandUrl" value='@System.Web.Configuration.WebConfigurationManager.AppSettings["BrandCode"]' />
<div class=" mt_top">
    <form id="forgotForm" name="forgotForm" class="mt-3 ml-4 mr-4">
        <h5 class="text-center font-weight-bold mb-0">Forgot password</h5>
        <h6 class="font-weight-normal mt-3">Please select on which you would like to verify</h6>
        <div class="mt-5 mb-3 d-flex flex-row align-items-center justify-content-between" id="phone">
            <div class="d-flex flex-row align-items-center">
                <i class="far fa-comment font_20" style="color:black"></i>
                <div class="ml-3">
                    <p class="font_14 font-weight-bold mb-0">Text SMS</p>
                    <p class="font_14 d-inline font-weight-normal mb-0" id="headerPhone"></p>
                </div>
            </div>
            @*<i class="font_16 float-right mt-2" style="color:black" id="phoneSelected"></i>*@
            <input type="radio" id="phoneSelected" name="radiobutton">
            <label for="phoneSelected" class="d-none"></label>
        </div>
        <div class="mt-2 pt-3 d-flex flex-row align-items-center justify-content-between" id="email">
            <div class="d-flex flex-row align-items-center">
                <i class="far fa-envelope font_20" style="color:black"></i>
                <div class="ml-3">
                    <p class="font_14 font-weight-bold mb-0">Email</p>
                    <p class="font_14 d-inline font-weight-normal mb-0" id="headerEmail"></p>
                </div>
            </div>
            @*<i class="font_16 float-right mt-2" style="color:black" id="emailSelected"></i>*@
            <input type="radio" id="emailSelected" name="radiobutton">
            <label for="emailSelected" class="d-none"></label>
        </div>
        <div class="text-center mt_70">
            <button id="btnContinue" type="button" disabled class="btnContinue btn mt-5 w-50 btn_primary_outline">Submit</button>

        </div>

        <div class="loader" id="AjaxLoader" style="display: none;">
        </div>
    </form>
</div>
