
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
}
<script src="~/Scripts/Account/ResetPassword.js"></script>

<input type="hidden" id="hnProdUrl" value='@System.Web.Configuration.WebConfigurationManager.AppSettings["AccountPayURL"]' />
<input id="getbrandUrl" value="@System.Configuration.ConfigurationManager.AppSettings["BrandCode"]" style="display:none" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<script type="text/javascript">
    var accountNo = '@ViewData["accountNo"].ToString()';
</script>

<div class="mt-5">
    <h5 class="text-center mt_top mb-0 font-weight-bold">Reset password</h5>
    <h6 id="first_message" class="font-weight-normal text-center text_grey mt-3">Create a new password to secure your account.</h6>
    <h6 id="second_message" class="font-weight-normal text-center text_grey mt-3 d-none">Your new password must be <br />unique to secure your account.</h6>

    <form class="form_style" id="resetForm">

        <div class="form-group">
            <label for="pwd">New Password:</label>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Your Password" id="txtNewPassword" maxlength="20" name="NewPassword"><i class="far fa-eye-slash newIcon" id="show_password_new" style=" position: absolute; right: 10px; z-index: 10;top:9px;"></i>

                @*<div class="input-group-append">
                        <span class="input-group-text"><i class="far fa-eye-slash newIcon" id="show_password_new"></i></span>
                    </div>*@
            </div>

            <div id="strength">

                <span class="str-box box1">
                    <div></div>
                </span>
                <span class="str-box box2">
                    <div></div>
                </span>
                <span class="str-box box3">
                    <div></div>
                </span>
                <span class="str-box box4">
                    <div></div>
                </span>
                <span class="str-box box5">
                    <div></div>
                </span>
                <br />
                <span class="result">
                    Password strength indicator
                </span>

            </div>

        </div>
        <div class="form-group">
            <label for="pwd">Confirm New Password:</label>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Your Password" id="txtConfirmPassword" name="ConfirmPassword"><i class="far fa-eye-slash confirmIcon" id="show_password_confirm" style=" position: absolute; right: 10px; z-index: 10;top:9px;"></i>


                @*<div class="input-group-append">
                        <span class="input-group-text"><i class="far fa-eye-slash confirmIcon" id="show_password_confirm"></i></span>
                    </div>*@
            </div>
        </div>
        <span id="error" style="display :none;color:red"></span>

        <div id="app" class="mt_50">
            <p class="font_14 font-weight-bold pl-3">Password Policy</p>

            <div class="input_container">
                <ul style="list-style:none; color:black;padding:0px">
                    <li>  <img id="Length" src="~/Content/images/password_black.png" class="" /> Length must between 8 to 20 characters</li>
                    <li>  <img id="UpperCase" src="~/Content/images/password_black.png" class="" /> A combination of upper and lower case characters</li>
                    <li>  <img id="Numbers" src="~/Content/images/password_black.png" class="" /> Contains letters and numbers</li>
                    <li>  <img id="Symbols" src="~/Content/images/password_black.png" class="" />  A special character such as #,!.* $ etc.</li>



                    @*<li class="glyphicon glyphicon-xx"> <i id="Length" class="glyphicon-xx far fa-check-circle"></i> Length must between 8 to 20 characters</li>
                        <li class="glyphicon glyphicon-xx"> <i id="UpperCase" class="glyphicon-xx far fa-check-circle"></i> A combination of upper and lower case characters. </li>
                        <li class="glyphicon glyphicon-xx"><i id="Numbers" class="glyphicon-xx far fa-check-circle"></i> Contains letters and numbers</li>
                        <li class="glyphicon glyphicon-xx"><i id="Symbols" class="glyphicon-xx far fa-check-circle"></i>  A special character such as #,!.* $ etc.</li>*@

                </ul>

            </div>



        </div>


        <div class="text-center">
            <button type="button" class="btn mt_50 w-50 btn_primary_outline btnNext" id="btnNext">Submit</button>
        </div>
    </form>
    <div class="loader" id="AjaxLoader" style="display: none;">
    </div>

</div>




